<div class="post">
    <img src= "<%= @user.photo %>" /> 
        <%= link_to user_path(@user.id) do %>
             <%= @user.name %>
        <% end %>
    <p>Number of Posts: <%= (@user.posts.count) %></p>
</div>
<div>
    <p><%=@user.bio%></p>
</div>
<ul class="user-post">
    <% @user.most_recent_posts.each do |post| %>
        <li>
         <%= link_to user_post_path(@user, post.id) do %>
            Post #<%= post.id %>
         <% end %>
         <p><%= post.text %></p>
         <p>
            Comments: <%= post.commentscounter %>, Likes: <%= post.likescounter %>
         </p>
        </li>
    <% end %>
</ul>
<%= link_to user_posts_path(@user) do %>
    See all posts
<% end %>
