<% @user.posts.each do |post| %>
  <%= link_to user_post_path(@user, post) do %>
  <h2>Post: <%= (@user.posts.find_index(post) + 1) %></h2>
  <% end %>
  <div>
    <p><%= post.text %></p>
    <div>
      <span>Comments: <%= post.commentscounter %></span>
      <span>Likes: <%= post.likescounter %></span>
    </div>
    <div>
   <ul>
    <% post.most_recent_comments.each do |com| %>
     <li>
        <p><%= com.author.name %>: <%= com.text %></p>
     </li>
    <% end %>
    </ul>
    <div>
  </div>
<% end %>

<%= link_to new_user_post_path do  %>
  <button>Add post</button>
<% end %>


