<h2>Post #<%= @post.id %> by <%= @post.author.name %></h2>
    <div>
    <p>
        <span class="posts-comment">Comments: <%= @post.commentscounter %></span>
        <span class="posts-likes">Likes: <%= @post.likescounter %></span>
    </p>
    <p><%= @post.text%></p>
    </div>
    <div class="recent-comments">
    <ul>
    <% @post.comments.each do |com| %>
     <li>
        <p><%= com.author.name %>: <%= com.text %></p>
     </li>
    <% end %>
</ul>
<%= link_to new_user_post_comment_path do %>
<button>add comment</button>
<% end %>

<%= bootstrap_form_with url: user_post_likes_url, scope: :like do |f| %>
    <%= f.submit "Like" %>
<% end %>

<%= link_to root_path do %>
<button>back to all users</button>
<% end %>